doctype html
html
  head     
    title My Name
  body
  if name
    h1 Hello! #{name}
  else
    form(action='/trackName', method='POST')
      label Please enter your name:
      input(type='text', name='name')
      button(type='submit') GO!
