@media screen and (min-width: 1200px) {
    /* 版型欄數需求 */

    /* 滿版 */
    .full-width {
        width: 100%;
        margin: auto;
    }

    /* 固定寬度 */
    .fixed-width {
        width: 1200px;
        margin: auto;
        /* 上下為 0，水平居中 */
    }

    /* 兩欄 */
    .col-2 {
        float: left;
        width: 580px;
        margin: 0 10px;
    }

    nav {
        height: 50px;
        background-color: antiquewhite;
    }

    nav .logo {
        width: 100px;
        height: 50px;
        background-color: burlywood;
        float: left;
    }

    nav .logo a {
        display: block;
        text-decoration: none;
        line-height: 50px;
        text-align: center;
        color: #fff;
    }

    nav .menu {
        float: right;
        display: flex;
    }

    nav .menu .material-icons {
        display: none;
    }
    
    nav .menu li {
        list-style-type: none;
        float: left;
        width: 80px;
        text-align: center;
    }

    nav .menu a {
        text-decoration: none;
        line-height: 50px;
        color: #222;
    }

    nav .menu a:hover {
        color: goldenrod;
    }

    header {
        padding: 120px 0;
        background-color: beige;
    }

    header h1 {
        font-size: 50px;
        text-align: center;
    }

    #section-title {
        text-align: center;
    }

    h2 {
        font-size: 36px;
        line-height: 100px;
        margin: auto;
    }

    .container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container .box {
        height: 300px;
        background-color: bisque;
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
        /* 改變區塊的寬高計算方式，將寬高設定包含 content+padding+border */
    }

    .content-btn {
        padding: 10px;
        text-align: center;
    }

    .btn {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        background-color: #222;
        color: #fff;
    }
}
